{% extends "layout.html" %}
{% block content %}
    <div class="col-sm-3 panel" id="left-most-panel">
        <fieldset class="scheduler-border" id="fieldset-lmp">
            <legend class="scheduler-border" id="legend-lmp">How To Begin</legend>
            <div class="row form-group fieldset-row" id="row-job-select">
                <div class="col-sm-12">
                    <div class="form-group">
                        <select class="selectpicker form-control" title="Choose Job ID" id="select-job-id" data-live-search="true" data-selected-text-format="count">
                        {% for key in job_keys %}
                            <option>{{ key }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row form-group fieldset-row editable-view" id="opts-type">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-sm btn-block" id="btn-make-building">Build From Scratch</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-secondary btn-sm btn-block" id="btn-upload-file" data-toggle="modal" data-target="#mdl-upload-file">Upload Building File</button>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-3 panel hidden" id="middle-panel">
        <fieldset class="scheduler-border" id="fieldset-mp">
            <legend class="scheduler-border" id="legend-mp">Configuration Panel</legend>
            <form>
                <div class="row form-group fieldset-row">    
                    <label for="nfloors" class="col-sm-6">Number of Floors: </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control text-center" id="nfloors" name="nfloors">
                    </div>
                </div>
                <div class="row form-group fieldset-row">    
                    <label for="floor-wise-zones" class="col-sm-12">Number of Zones (Floor Wise)</label>
                    <div class="col-sm-12">
                        <div class="row no-gutters" id="floor-list"></div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-5 panel hidden" id="right-most-panel">
        <fieldset class="scheduler-border" id="fieldset-rmp">
            <legend class="scheduler-border" id="fieldset-rmp">Summary Panel</legend>
            <div class="row form-group fieldset-row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 building-box">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary btn-block" name="save_building" id="btn-save-building"/>Save Building</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary" name="learn_model" id="btn-learn-model"/>Build Model</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 list-of-appliances">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 list-of-exogenous">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group fieldset-row">
                
            </div>
        </fieldset>
    </div>
    <div class="modal fade" id="mdl-upload-file" tabindex="-1" role="dialog" aria-labelledby="uploadFileModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFileModal">Upload Building Config</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="input-building-map" accept="application/JSON">
                        <label class="custom-file-label">Choose file...</label>
                        <small id="uploadHelp" class="form-text text-muted">Please upload a valid building configuration JSON file.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-upload-selected-file">Upload File</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="stream-list" tabindex="-1" role="dialog" aria-labelledby="stream-list-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stream-title">Data Streams</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="mdlbdy-stream-list">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}