<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Milan Jain">
    <title>Serve myGrid</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3_timeseries.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3_timeseries.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/i18n/defaults-*.min.js') }}"></script>
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-4" href="index.html"><span class="mb-0 h1">Serve <font color="#32CD32">my</font>Grid</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container-fluid mx-auto">       
        <div class="row mainbox" id="input">  
            {% block content %}{% endblock %}  
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <span class="text-muted">Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a>, 
            <a href="https://www.flaticon.com/authors/catkuro" title="catkuro">catkuro</a>, 
            <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>, 
            <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a>, 
            <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a>, 
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, 
            <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a>,
            <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a>, 
            <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a>,
            <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a>, 
            <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a>
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</span>
        </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>